/* General settings */

:root {
  --darkblue-color: #023E7D;
  --lightblue-color: #5FA8D3;
  /* Text color */
  --text-color: #000;
  --header-title-size: 1.5rem;
  --name-size: 1.3rem;
  --cv-title-size: 1.2rem;
  --text-size: 0.91rem;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: var(--text-size);
  background-color: #eee;
}
.darkblue {
  color: var(--darkblue-color);
}
.lightblue {
  color: var(--lightblue-color);
}
.separator {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
ul {
  list-style: none;
  padding-left: 0;
}

/* Main container Layout */
.container {
  width: 210mm;
  height: 297mm;
  margin: auto;
  padding: 2.5mm;
  position: relative;
  display: grid;
  grid-template-rows: 15% 82% 3%;
  grid-template-columns: 20% 80%;
  background-color: #fff;
  /* border: 1px solid black; */
}

/* Header section */
.header {
  grid-area: 1 / 1 / 2 / -1;
}

.introduction {
  display: flex;
  gap: 4rem;
  height: 85%;
  padding-left: 0.5rem;
}
.picture {
  width: 20%;
  background-image: url(/img/cedric.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.title {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.my_name {
  font-size: var(--name-size);
  margin: 0.5rem;
}
.job_title {
  font-size: var(--header-title-size);
  margin: 0.5rem;
}
.my_details {
  margin: 0.5rem;
}
.my_address {
  margin: 0.5rem;
}
.contact_links {
  display: flex;
  justify-content: space-around;
  padding: 0.35rem;
  gap: 0.45rem;
  background-color: var(--lightblue-color);
  border-radius: 0.15rem;
}
.contact_links a,
.contact_links a:hover,
.contact_links a:active,
.contact_links a:visited {
  margin-left: 0.5rem;
  text-decoration: none;
  color: var(--text-color);
}

/* Main section */
.main {
  grid-area: 2 / 1 / 3 / -1;
  display: flex;
}
.main h3{
  color: var(--darkblue-color);
  font-size: var(--cv-title-size);
  margin: 0.2rem auto;
}
.main h4{
  margin: 0.7rem 0;
}
.about_me {
  width: 34%;
  padding-left: 0.25rem;
  padding-right: 0.5rem;
  border-right: 4px solid var(--darkblue-color);
}

/* Main section - skills sub section */
.skill-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 85%;
}

/* Main section - education sub section */
.education {
  padding: 0.35rem;
  background-color: #B7CFDC;
  border-radius: 0.15rem;
}
.education ul {
  list-style: square;
  padding-left: 1.5rem;
  line-height: 1.3;
}

/* Main section - favorites sub section */
.favorites {
  list-style: square;
  padding-left: 1.5rem;
  line-height: 1.3;
}
.favorites a,
.favorites a:hover,
.favorites a:active,
.favorites a:visited {
  text-decoration: none;
  color: var(--darkblue-color);
}

/* Main section - experiences and projects sub section */
.experiences-block {
  width: 66%;
  padding-left: 1rem;
  padding-right: 0.5rem;
}
.personal_project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.project {
  padding: 0.35rem;
  background-color: #B7CFDC;
  border-radius: 0.15rem;
}
.project a {
  text-decoration: none;
  color: var(--darkblue-color);
  font-weight: bold;
}
.github {
  display: block;
  text-align: right;
  margin-right: 1rem;
}
.experience-list {
  list-style: square;
  padding-left: 1.5rem;
  line-height: 1.3;
}

/* Past experiences */
.past-experience {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.past-experience ul {
  list-style: square;
  padding-left: 1.5rem;
  line-height: 1.3;
}
.no-margin-bottom {
  margin-bottom: 0;
}

/* Footer section */
.footer {
  grid-area: 3 / 1 / -1 / -1;
  background-color: var(--lightblue-color);
  border-radius: 0.15rem;
}