/* General settings */

:root {
  --darkblue-color: #023E7D;
  --lightblue-color: #5FA8D3;
  /* Text color */
  --text-color: #000;
  --header-title-size: 1.2rem;
  --name-size: 1.3rem;
  --cv-title-size: 1.1rem;
  --text-size: 0.7rem;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: var(--text-size);
}
.darkblue {
  color: var(--darkblue-color);
}
.lightblue {
  color: var(--lightblue-color);
}
.separator {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}
.bold {
  font-weight: bold;
}
ul {
  list-style: none;
  padding-left: 0;
}

/* Main container Layout */
.container {
  width: 210mm;
  height: 297mm;
  margin: auto;
  padding: 2.5mm;
  position: relative;
  display: grid;
  grid-template-rows: 15% 82% 3%;
  grid-template-columns: 20% 80%;
  border: 1px solid black;
}

/* Header section */
.header {
  grid-area: 1 / 1 / 2 / -1;
}

.introduction {
  display: flex;
  gap: 3rem;
}
.picture {
  width: 20%;
  background-image: url(/img/cedric.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%; 
}
.title {
  width: 80%;
  padding-top: 1rem;
}
.my_name {
  font-size: var(--name-size);
}
.job_title {
  font-size: var(--header-title-size);
  margin: 0 auto 1rem auto;
}
.my_details {
  margin: 0.25rem auto;
}
.contact_links {
  display: flex;
  justify-content: space-around;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  background-color: var(--lightblue-color);
  border-radius: 0.15rem;
}
.contact_links a,
.contact_links a:hover,
.contact_links a:active,
.contact_links a:visited {
  margin-left: 0.5rem;
  text-decoration: none;
  color: var(--text-color);
}

/* Main section */
.main {
  grid-area: 2 / 1 / 3 / -1;
  display: flex;
}
.main h3{
  color: var(--darkblue-color);
  font-size: var(--cv-title-size);
  margin: 0.2rem auto;
}
.about_me {
  width: 25%;
  padding-right: 1rem;
  border-right: 4px solid var(--darkblue-color);
}
.experience {
  width: 75%;
  padding-left: 1rem;
}
.personal_project {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
.project {
  width: 50%;
  padding: 0.35rem;
  background-color: #B7CFDC;
  border-radius: 0.15rem;
}
.project a {
  text-decoration: none;
  color: var(--darkblue-color);
  font-weight: bold;
}
.github {
  display: block;
  text-align: right;
  margin-right: 1rem;
}

/* Footer section */
.footer {
  grid-area: 3 / 1 / -1 / -1;
  background-color: var(--lightblue-color);
  border-radius: 0.15rem;
}